<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="connstrng" connectionString="Data Source=DESKTOP-F3LNV8H\SQLEXPRESS;Initial Catalog=ContactManagementDB;Integrated Security=True"/>
	</connectionStrings>

	<appSettings>
		<!-- Ajoutez vos clés et valeurs ici -->
		<add key="KeyName" value="SomeValue" />
	</appSettings>
</configuration>
